* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

@font-face {
  font-family: mrDafoe-font;
  src: url(../public/fonts/MrsSaintDelafield-Regular.ttf);
}

@font-face {
  font-family: raleway-creative;
  src: url(../public/fonts/raleway-regular.woff2);
}

@font-face {
  font-family: bentham-creative;
  src: url(../public/fonts/Bentham-Regular.ttf);
}

@font-face {
  font-family: outfit-creative;
  src: url(../public/fonts/outfit-regular.woff2);
}

@font-face {
  font-family: raleway-m;
  src: url(../public/fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: raleway-m;
  src: url(../public/fonts/raleway-v22-cyrillic-900.woff2);
  font-weight: 900;
}

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 7);
  --transition: 0.75s cubic-bezier(0.2, 0.6, 0, 1);

  --special-color: {
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-creative;
}

/* will change */

.content,
.hero,
.main-header,
.nav-container {
  will-change: transform;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #f4efec;
  font-family: raleway-creative;
  /* overflow-x: hidden; */
}

.wrapper {
  position: relative;
}

.content {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  will-change: transform;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.header {
  font-size: 10vh;
  font-family: outfit-creative;
  position: relative;
  top: 50vh;
  right: 24vw;
}

.text-block {
  position: relative;
  margin-bottom: -23vh;
}

.text-block__h {
  font-size: calc(var(--index) * 1.5);
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__p {
  line-height: calc(var(--index) * 1.2);
  font-size: calc(var(--index) * 0.7);
  opacity: 0.8;
}

.nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 3;
  background: fixed;
  backdrop-filter: brightness(60%) blur(2px);
  border-radius: 10px;
}
@keyframes textGlow {
  0% {
    text-shadow: 1px 1px 15px rgba(238, 228, 218, 0.5);
  }
  50% {
    text-shadow: 0 0 30px rgba(238, 228, 218, 0.8),
      0 0 50px rgba(255, 248, 220, 0.7), 0 0 70px rgba(255, 255, 240, 0.6);
  }
  100% {
    text-shadow: 1px 1px 15px rgba(238, 228, 218, 0.5);
  }
}
.nav-container {
  width: 60%;
  gap: calc(var(--index) * 4);
  align-items: center;
  animation: textGlow 2s ease-in-out infinite;
  list-style: none;
  font-size: calc(var(--index) * 1.1);
  display: flex;
  flex-direction: row; /* gap: calc(var(--gallery-gap) / 2); */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-element {
  cursor: pointer;
  color: aliceblue;
  text-decoration: none;
  white-space: nowrap;
}
.nav-element :hover {
  transition: ease-in-out 0.5s;
  transform: scale(120%);
}
.nav-element.active {
  text-decoration: underline;
}

.logo {
  font-size: calc(var(--index) * 3);
  font-weight: 900;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ffeeee, #f4fbe8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  line-height: 2.8rem;
}

.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc(var(--index) * 3);
  gap: calc(var(--gallery-gap) * 0.6);
}

.about_container h1 {
  text-align: center;
  font-family: raleway-m;
  background: linear-gradient(to right, #fcfbfb, #f4fbe8);
  /* animation: textGlow 2.5s ease-in-out infinite; */
  -webkit-background-clip: text;
  font-size: calc(var(--index) * 3.4);
  margin-top: 10vh;
}

.about_container p {
  line-height: calc(var(--index) * 1.8);
  opacity: 0.8;
  font-size: calc(var(--index) * 1.1);
  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;
}

.footer {
  font-family: raleway-m;
  flex-direction: column;
  height: 18vh;
  z-index: 10;
  width: 100vw;
  background-color: #121212;
  display: flex;
  justify-content: center;
  padding: 0 70px;
  align-items: center;
  gap: 1vh;
  font-size: calc(var(--index) * 0.9);
}

.socials-container {
  display: flex;
  gap: 3vh;
}

.social-icon {
  width: 33px;
  height: 33px;
}

.social-icon:hover {
  transition: ease-in-out 0.5s;
  transform: scale(140%);
}

a {
  text-decoration: none;
  color: white;
}

.socials-nav {
  display: flex;
  align-items: center;
  gap: 4vw;
}

.national-flag {
  width: calc(var(--index) * 1.3);
  object-fit: contain;
}

.national-flag:hover {
  transition: ease-in-out 0.5s;
  transform: scale(130%);
  opacity: 80%;
}
.language-selector {
  opacity: 0.8;
  padding: 5px;
}

.language-selector:hover {
  opacity: 3;
  background-color: #292929;
}

.responsive-icon {
  width: 30px;
  height: 30px;
}

.language-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.language-selector {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.language-list-window {
  display: none;
}

.language-list-window.open {
  display: flex;
  position: absolute;
  background-color: rgb(48, 48, 48);
  border-radius: 8px;
  padding: 10px;
  right: 20px;
}

.national-flag.current {
  display: flex;
}
.flag-list-item {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

/* flex items-center justify-around md:w-36 lg:w-52 2xl:w-80 */

.active-song {
  width: 110%;
  height: 110%;
  object-fit: cover;
}
@keyframes smoothBounce {
  0%,
  100% {
    transform: translate(-50%, 0); /* Начальное и конечное положение */
  }
  50% {
    transform: translate(-50%, -10px); /* Верхнее положение */
  }
}
.scroll-down {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: white;
  z-index: 1;
  animation: smoothBounce 2s infinite linear;
}
.scroll-down.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 950px) {
  .content {
    height: fit-content;
    overflow: hidden;
    /* overflow-x: hidden; */
  }
  .footer {
   
    padding: 20px;
    margin: 0;
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  /* .content {
    height: 100vh;
    scroll-behavior: auto; 
  } */
  .gallery__item {
    opacity: 0;
    transform: translateX(-100px); /* Начальная позиция слева */
    transition: opacity 0.3s ease-out, transform 0.6s ease-out;
  }

  /* Когда элемент появляется на экране (скролл вниз) */
  .gallery__item.visible {
    opacity: 1;
    transform: translateX(0); /* Элемент перемещается в центр */
  }

  /* Когда элемент выходит с экрана (скролл вверх) */
  .gallery__item.reverse {
    opacity: 0;
    transform: translateX(-100px); /* Элемент возвращается влево */
  }
  .opened {
    display: none;
  }

  .about_container {
    margin-top: 4vh;
    margin-bottom: 4vh;
  }
  .national-flag.current {
    display: none;
  }
  .language-container {
    display: flex;
    align-items: center;
    gap: 0.2px;
  }

  .language-selector {
    display: flex;
    align-items: center;
    gap: 0.2px;
    cursor: pointer;
  }

  .responsive-icon {
    width: 20px;
    height: 20px;
  }

  .description-mobile .text-block__p {
    margin-top: -2vh;
  }

  .text-block__p {
    line-height: calc(var(--index) * 2);
    font-size: calc(var(--index));
  }

  .socials-nav {
    display: none;
  }

  .gallery__item {
    display: flex;
    height: fit-content;
    width: max-content;
    flex-direction: column;
    max-width: calc(var(--index) * 30);
  }

  .nav-container {
    justify-content: center;
    width: 90%;
    gap: calc(var(--index) * 2);
    font-size: calc(var(--index) * 1.3);
  }
  .nav {
    padding: 2.5rem;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--index) * 3);
    margin-left: 0.5vh;
    height: 10vh;
  }
}

/* animations */

/* ----------------------------------------------
 * Generated by Animista on 2024-12-28 21:30:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-28 21:32:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-28 21:40:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-28 22:3:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-12-28 22:23:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2025-1-10 0:12:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-bottom-1
 * ----------------------------------------
 */
/* ----------------------------------------------
 * Generated by Animista on 2025-1-10 0:18:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-bottom-2
 * ----------------------------------------
 */
@-webkit-keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-bottom-2 {
  0% {
    -webkit-transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    transform: rotateY(-30deg) translateY(300px) skewY(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
    transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}

.tilt-in-bottom-2 {
  -webkit-animation: tilt-in-bottom-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-bottom-2 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.fade-in {
  -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.puff-in-center {
  -webkit-animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 2s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
